<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Login</title>
    </head>
    <body class="p-3 mb-2 bg-white text-black" >
        <div class="container justify-content-center w-25 p-3 border border-light rounded bg-light" style="margin-top: 5em;">
            <h1 class="h3 mb-3 fw-normal text-center" style="color: #0068d8">SuperDuperDrive</h1>
            <hr/>
            <h1 id="headerLogin" class="h3 mb-3 fw-normal text-center">Login</h1>
            <form action="#" th:action="@{/login}" method="POST">
                <div id="error-msg" th:if="${param.error}" class="alert alert-danger">
                    Invalid username or password
                </div>
                <div id="logout-msg" th:if="${param.logout}" class="alert alert-dark">
                    You have been logged out
                </div>
                <div id="signup-success-msg" th:if="${signupSuccess}" class="alert alert-info">
                    You successfully signed up. <br>Please log in.
                </div>
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="input" class="form-control" name="username" id="inputUsername" placeholder="Enter Username" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Enter Password" maxlength="20" required>
                </div>
                <button id="submit-button" type="submit" class="w-100 btn btn-lg btn-primary text-center">Login</button>
            </form>

            <div class="form-group text-center" style="margin-top: 2em;">
                <label><a id="signup-link" class="text-primary text-sm" th:href="@{/signup}">Click here to sign up</a></label>
            </div>
        </div>
    </body>
</html>