<!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Sign Up</title>
    </head>
    <body class="p-3 mb-2 bg-white text-black">
        <div class="container justify-content-center w-50 p-3 border border-light rounded bg-light" style="background-color: #eeeeee; margin-top: 5em;">

            <h1 class="h3 mt-3 mb-4 fw-normal text-center align-middle" style="color: #0068d8;">SuperDuperDrive</h1>
            <hr/>
            <h1 id="headerSignup" class="h3 mb-3 fw-normal text-center">Sign Up</h1>
            <form action="#" th:action="@{/signup}" method="POST">
                <div id="success-msg" th:if="${signupSuccess}" class="alert alert-success">
                    You successfully signed up! Please continue to the <a id="login-link" th:href="@{/login}">login</a> page.
                </div>
                <div id="error-msg" th:if="${signupError}" class="alert alert-danger">
                    <span th:text="${signupError}"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFirstName">First Name</label>
                        <input type="input" name="firstName" class="form-control text-muted text-sm" id="inputFirstName" placeholder="Enter First Name" maxlength="20" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLastName">Last Name</label>
                        <input type="input" name="lastName" class="form-control" id="inputLastName" placeholder="Enter Last Name" maxlength="20" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUsername">Username</label>
                        <input type="input" name="username" class="form-control" id="inputUsername" placeholder="Enter Username" maxlength="20" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Enter Password" maxlength="20" required>
                    </div>
                </div>
                <div class="mt-3 text-center">
                <button id="submit-button" type="submit" class="w-50 btn btn-lg btn-primary text-center">Sign Up</button>
                </div>
                <div class="form-group mt-4 mb-0">
                    <label><a id="backToLoginLink" class="text-primary text-sm" th:href="@{/login}">Back to Login</a></label>
                </div>
            </form>
        </div>
    </body>
</html>